/*-----------------------------------------------------------------------------------*/
/* Header
/*-----------------------------------------------------------------------------------*/

.header,
.top {
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
  }

  a {
    color: $dark-blue;

    &:hover {
      color: $medium-blue;
    }
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.top {
  background: $white;
  background: linear-gradient(0deg, $white 0%, $white 50%, $light-blue 50%, $light-blue 100%);

  @include media-breakpoint-up(md) {
    text-align: right;
  }

  ul {
    font-size: 0;
  }

  li {
    display: inline-block;

    a {
      background: $medium-blue;
      color: $white;
      display: block;
      font-size: 12px;
      height: 35px;
      line-height: 35px;
      padding: 0 25px;
      text-transform: uppercase;

      &:hover {
        background: darken($medium-blue, 10%);
        color: $white;
      }
    }

    &:last-child {
      a {
        background: $dark-blue;

        &:hover {
          background: darken($dark-blue, 10%);
        }
      }
    }
  }
}

.header {
  ul {
    @include media-breakpoint-down(sm) {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    @include media-breakpoint-up(md) {
      margin-left: 40px;
      margin-right: auto;
    }
  }

  li {
    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    @include media-breakpoint-up(md) {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  .logo {
    height: auto;
    width: 225px;
  }

  .textwidget {
    p {
      margin: 0;

      a {
        display: inline-block;
        line-height: 1;
        padding-left: 33px;
        position: relative;

        &:before {
          background: url(../img/icon-phone.png) center center no-repeat;
          background-size: contain;
          content: '';
          height: 25px;
          position: absolute;
            top: -6px;
            left: 0;
          transition: all .2s;
          width: 25px;
        }

        &:hover {
          &:before {
            transform: scale(1.15);
          }
        }
      }
    }
  }

  div {
    &:last-child {
      @include media-breakpoint-up(md) {
        flex-basis: 220px;
        text-align: right;
      }
    }
  }
}
